
body {
    text-align: center; 
}

header {
    background-color: rgb(66, 63, 63);
    margin-bottom: 25px;
}

/* Margin for Images */
img {
    margin: 15px;
}

/* Nav Bar List */
nav > ul > li{
    margin: 35px;
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-weight: bold;
}

footer {
    background-color: rgb(66, 63, 63);
    height: 150px;
}

/* Scrollable Container */
li > div > p {
    height: 350px;
    overflow: scroll;
    width: 400px;
    text-align: left;
}
   
section > ul > li {
    display: inline-block;
    text-align: left;
    margin-top: 15px;
    vertical-align: middle;
}

/* Call to Action Botton */
button {
    background-color: black;
    border: none;
    color: white;
    font-size: 15px;
    padding: 15px 30px;
    margin: 4px 3px;
    transition: 350ms;
}

/* Enabling Hovering */
button:hover {
  background-color: purple;
  color: black;
}